.footer{
  text-align: center;
  background-color: #003566;
  padding: 25px 0;
}
.footer h3{
  margin-bottom: 10px;
}
.footer .social-media i{
  font-size: 23px;
  color: #d19500;
  margin: 20px;
  transition: 0.3s;
}
.footer .social-media i:hover{
  color: #fcf8ed;
  font-size: 30px;
}