.footer{
  text-align: center;
  background-color: #003566;
  padding: 5px 0;
}
.footer .social-media i{
  font-size: 23px;
  color: #d19500;
  margin: 20px;
  transition: 0.3s;
}
.footer .social-media i:hover{
  color: #fcf8ed;
  transform: scale(1.5);
}