@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&display=swap');

.header {
  background: #003566;
  padding: 20px 0;
}
.box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
.logo {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 60px;
  color: #d19500;
}
.nav {
  position: absolute;
  top: 30px;
  right: 0;
}
.nav ul li {
  display: inline;
}
.nav ul li a{
  text-transform: uppercase;
  color: #d19500;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 18px;
  padding: 0 20px;
}
nav ul li a:hover {
  color: #fcf8ed;
  text-decoration: underline;
  cursor: pointer;
}