@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&display=swap');

.banner-img {
  width: 100%;
}
.about, .benefits, .map {
  margin: 30px 100px;
}
.title {
  font-family: 'Cinzel', serif;
  font-size: 1.6em;
  font-weight: 700;
  color: #d19500;
  text-align: center;
  margin: 18px 0;
}
.tools-img {
  width: 10%;
  float: left;
  margin: 0 8px;
}
.about p {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 1em;
  color: #003566;
  margin: 0 0 0.6em;
}
.benefits {
  padding: 20px;
  clear: left;
}
.benefits ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.benefits ul li {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  color: #003566;
}
.benefits-img {
  width: 30%;
}
.map {
  padding: 3em 0;
}
.map p {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  color: #003566;
  margin: 0 0 0.4em;
}
