@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&display=swap');

.banner-img {
  width: 100%;
}
.about, .map {
  margin: 30px 100px;
}
.title {
  font-family: 'Cinzel', serif;
  font-size: 1.6em;
  font-weight: 700;
  color: #d19500;
  text-align: center;
  margin: 18px 0;
}
.tools-img {
  width: 10%;
  float: left;
  margin: 0 8px;
}
.about p {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 1em;
  color: #003566;
  margin: 0 0 0.6em;
}
.benefits {
  padding: 20px;
  clear: left;
}
.benefits .title{
  margin-bottom: 50px;
}
.benefits-content {
  width: 900px;
  margin: 0 auto;
}
.benefits-list {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.itens {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  color: #003566;
  line-height: 3.5em;
}
.itens:nth-child(2) {
  font-weight: 700;
}
.itens::before {
  content: "🟆";
  color: #d19500;
  margin-right: 0.4em;
}
.benefits-img {
  width: 40%;
  margin-left: 100px;
}
.map {
  padding: 3em 0;
}
.map p {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  color: #003566;
  margin: 0 0 0.4em;
}
.title > p:last-child {
  font-weight: 700;
}
 /* parte 4 - selecionando qq coisa - calculos com css */