@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&display=swap');

@media (max-width: 992px){
  
}
@media (max-width: 768px){
  .header, .box, .banner-img, .footer { 
    width: 100%;
  }
  .box {
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-left: 2rem;
  }
  .nav {
    margin-right: 1rem;
  }
  .about {
    margin: 1.3rem 2rem;
  }
  .benefits-content {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
  }
  .benefits-list {
    display: inline-block;
  }
  .itens {
    line-height: 3rem;
    text-align: justify;
  }
  .location {
    margin: 0 auto;
  }
  .map {
    width: 80%;
    margin: 1rem 4rem;
  }
}
@media (max-width: 425px){
  .header, .box, .banner-img { 
    width: 100%;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .nav {
    position: static;
  }
  .nav ul li {
    display: block;
    text-align: center;
    margin-top: 1.3rem;
  }  
  .tools-img {
    display: none;
  }
  .about {
    margin: 0 30px;
  }
  .benefits .title {
    margin: 18px auto;
  }
  .benefits-content {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .benefits-list {
    width: 65%;
  }
  .itens {
    line-height: 2rem;
  }
  .benefits-img {
    display: block;
    width: 60%;
    margin: 20px auto;
  }
  .location {
    display: inline;
    margin: 0;
  }
  .location .title {
    width: 50%;
    margin: 1rem auto;
  }
  .map {
    width: 50%;
    margin: 25px 105px;
  }
  .products {
    width: 100%;
    padding: 10px 0;
  }
  .products ul li {
    width: 80%;
    display: block;
    margin: 1.5rem auto;
  }
  .video .video-frame {
    width: 80%;
  }
  main  {
    width: 100%;
  }
  form, .title, .input-default, .checkbox, .send {
    width: 90%;
    margin: 1rem 1rem;
  }
  fieldset {
    width: 100%;
  }
  fieldset .title {
    text-align: start;
    margin: 1.3rem 1rem;
  }
  fieldset label, 
  fieldset #options {
    margin: 1.2rem 1rem;
  }
  .send {
    width: 30%;
  }
  .footer {
    width: 100%;
  }
}